{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


<div class="signup">
	<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}

		<button type="submit" value="{% trans 'Reset My Password' %}" >{% trans 'Reset My Password' %}</button>

		<p style="color:white;justify-content: center;display: flex;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

       <p style="color:white;justify-content: center;display: flex;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    </form>
	 <a  href="{% url 'account_login' %} "><button type="submit" >Logar</button></a>
     <a href="{% url 'account_signup' %}"><button type="submit" >Registrar</button></a>
</div>



{% endblock %}
