{% extends 'base.html' %}
{% load static %}

{% block title %} Produtos {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
{% endblock %}

{% block main %}
<div class="container" id="container_page">

    <!-- Modal -->
    <div class="modal fade" id="modal_view" tabindex="-1" aria-labelledby="modal_view_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="color:black;">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="title_modal">Dados do Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="body_modal_view">

          </div>
          <div class="modal-footer">

               <button onclick="delete_client('1')" type="button"
                       class="btn btn-danger" id="button_action">
                    Deletar
                </button>
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

          </div>
        </div>
      </div>
    </div>

    <h3 class="header_text">Produtos</h3>

    <ul class="nav" STYLE="padding: 30px 0px 10px 0px;">
      <li class="nav-item">

            <button type="button" class="btn btn-primary openBtn" onclick="modal_create_product()"
                data-bs-toggle="modal" data-bs-target="#modal_view">
                <i class="fa-solid fa-plus"></i> NOVO PRODUTO
            </button>
        <a href="">
            <button type="button" class="btn btn-primary">
                 <i class="fa-solid fa-plus"></i> NOVA CATEGORIA
            </button></a>
      </li>
    </ul>
      <div class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-sm-12">
            <div class="input-group">
                <input type="text" name="name_product" class="form-control"
                       placeholder="Nome do Produto" id="id_query" onkeyup="update_list_products()">
                <span class="input-group-text" style="background-color: #0d85bf;color: white; display: none;"
                      id="loading_search">
                    <div class="spinner-border text-primary spinner-border-sm" role="status" >
                      <span class="visually-hidden"></span>
                    </div>
                </span>
                <span class="input-group-text" style="background-color: #0d85bf;color: white;" id="id_search">
                    <i class="fas fa-search"></i>
                </span>
            </div>
          </div>

        </div>
    <br>
    <div id="list_products">
    <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark" id="head_column_table">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
        {% for produto in object_list %}
          <tbody id="line_table">

            <tr  style="cursor: pointer;">

              <td><a href="">{{ produto.id }}</a></td>

              <td><a href="">{{ produto.descricao|upper }}</a></td>
                <td><a href="">{{ produto.preco|upper }}</a></td>
              <td>
                  <button type="button" class="btn btn-primary openBtn"
                         onclick="modal_view_product({{ produto.id }})"
                          data-bs-toggle="modal" data-bs-target="#modal_view">
                   <i class="fa-solid fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger openBtn"
                          onclick="modal_delete_product({{ produto.id }},'{{ produto.descricao }}')"
                          data-bs-toggle="modal" data-bs-target="#modal_view">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>

                  <button type="button" class="btn btn-warning openBtn" style="color: white;"
                          onclick="modal_update_product({{ produto.id }},'{{ produto.descricao }}')"
                          data-bs-toggle="modal" data-bs-target="#modal_view">
                      <i class="fa-solid fa-pen-to-square"></i>
                   </button>
                  <button type="button" class="btn btn-secondary openBtn"
                  onclick="modal_output_stock({{produto.id}},'{{produto}}' )"
                  data-bs-toggle="modal" data-bs-target="#modal_view">
                <i class="fa-solid fa-minus"></i>
            </button>

              </td>

        {% endfor %}
            </tr>

          </tbody>
        </table>
    </div>


    <nav aria-label="...">
      <ul class="pagination">
           <input type="hidden" id="id_page_itens" name="page_itens" value="{{page_obj.object_list|length}}">
           <input type="hidden" id="id_page_index" name="page_index" value="{{ page_obj.number }}">
          {% if page_obj.has_previous %}
        <li class="page-item">
            <button type="button" class="page-link"  onclick="update_list_products({{page_obj.previous_page_number}})">
                Anterior
            </button>
        </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#">Anterior</a>
          </li>
           {% endif %}

        {% for num_page in  page_obj.paginator.page_range %}
          {% if page_obj.number == num_page %}
            <li class="page-item active">
              <span class="page-link">
                {{ num_page }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
                <button type="button" class="page-link"  onclick="update_list_products({{ num_page }})">
                    {{ num_page }}
                </button>
            </li>
          {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
               <button type="button" class="page-link" onclick="update_list_products({{ page_obj.next_page_number }})">
                   Próximo
               </button>

            </li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link"  href="#">Próximo</a>
            </li>
        {% endif%}
      </ul>
    </nav>
        </div>
    <br>
</div>
{% endblock %}

{% block staticfiles %}
    <script src="{% static 'js/product.js' %}"></script>

<script type="text/javascript">
        $(document).ready(function(){
            console.log('query > ');
            $('#id_query').change(update_list_products(1)).keyup(update_list_products(1));
         });
    </script>
{% endblock %}