<form name="FormMaqCartao" method="post" class="row g-3">u
    {% csrf_token %}
    {% for field in form %}
        {%if field.label == "Nome" %}
              <div class="form-group col-md-12">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
              </div>

        {% else %}

              <div class="form-group col-md-3">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
              </div>

        {% endif %}
    {% endfor %}

        <div class="form-row">
       <button class="btn btn-info" type="submit">Salvar</button>
        </div>
</form>