<h6>ATUALIZAR USUÁRIO</h6>
<hr>
<form method="post" class="row g-3" id="id_form_user_{{pk}}" autocomplete="off">
    {% csrf_token %}
    <div class="col-md-12">
            <label for="id_photo" class="form-label">{{form.photo.label}}</label>
            {{form.photo}}
            {% if form.photo.errors %}
                <p id="error_id_photo" class="invalid-feedback" style="display: block;">
                    {{form.photo.errors|striptags}}
                </p>
            {% endif %}
    </div>

     <div class="col-md-12">
            <label for="id_name" class="form-label">{{form.name.label}}</label>
            {{form.name}}
            {% if form.name.errors %}
                <p id="error_id_name" class="invalid-feedback" style="display: block;">
                    {{form.name.errors|striptags}}
                </p>
            {% endif %}
        </div>
   <div class="col-md-12">
            <label for="id_email" class="form-label">{{form.email.label}}</label>
            {{form.email}}
            {% if form.email.errors %}
                <p id="error_id_email" class="invalid-feedback" style="display: block;">
                    {{form.email.errors|striptags}}
                </p>
            {% endif %}
        </div>

    <div class="col-md-3">
            <label for="id_password1" class="form-label">{{form.password1.label}}</label>
            {{form.password1}}
            {% if form.password1.errors %}
                <p id="error_password1" class="invalid-feedback" style="display: block;">
                    {{form.password1.errors|striptags}}
                </p>
            {% endif %}
        </div>

    <div class="col-md-3">
            <label for="id_email" class="form-label">{{form.password2.label}}</label>
            {{form.password2}}
            {% if form.password2.errors %}
                <p id="error_id_password2" class="invalid-feedback" style="display: block;">
                    {{form.password2.errors|striptags}}
                </p>
            {% endif %}
        </div>
     <div class="col-md-3">
            <label for="id_groups" class="form-label">{{form.groups.label}}</label>
            {{form.groups}}
            {% if form.groups.errors %}
                <p id="error_id_groups" class="invalid-feedback" style="display: block;">
                    {{form.groups.errors|striptags}}
                </p>
            {% endif %}
        </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary text-white" id="button_action_cancel" onclick="form_control_access()">
             Cancelar
        </button>
    </div>
    {% if pk == 0 %}
    <div class="col-md-6">
        <button type="button" class="btn btn-primary text-white" id="button_action" onclick="create_or_update_user({{pk}})">
             Criar Novo Usuário
        </button>
    </div>
    {% else %}
    <div class="col-md-6">
        <button type="button" class="btn btn-primary text-white" id="button_action" onclick="create_or_update_user({{pk}})">
            Atualizar
        </button>
    </div>
    {% endif %}

 </form>