<option value={{taxas_maq.deb}}>Débito - {{taxas_maq.deb}}%</option>
<option value={{taxas_maq.cre1}}>Crédito x1 - {{taxas_maq.cre1}}%</option>
<option value={{taxas_maq.cre2}}>Crédito x2 - {{taxas_maq.cre2}}%</option>
<option value={{taxas_maq.cre3}}>Crédito x3 - {{taxas_maq.cre3}}%</option>
<option value={{taxas_maq.cre4}}>Crédito x4 - {{taxas_maq.cre4}}%</option>
<option value={{taxas_maq.cre5}}>Crédito x5 - {{taxas_maq.cre5}}%</option>
<option value={{taxas_maq.cre6}}>Crédito x6 - {{taxas_maq.cre6}}%</option>
<option value={{taxas_maq.cre7}}>Crédito x7 - {{taxas_maq.cre7}}%</option>
<option value={{taxas_maq.cre8}}>Crédito x8 - {{taxas_maq.cre8}}%</option>
<option value={{taxas_maq.cre9}}>Crédito x9 - {{taxas_maq.cre9}}%</option>
<option value={{taxas_maq.cre10}}>Crédito x10 - {{taxas_maq.cre10}}%</option>
<option value={{taxas_maq.cre11}}>Crédito x11 - {{taxas_maq.cre11}}%</option>
<option value={{taxas_maq.cre12}}>Crédito x12 - {{taxas_maq.cre12}}%</option>