{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}
{% load my_tags %}

<div class="row">
    <div class="col-12">
        {% if venda %}
        <h2>{%cabecalho_2%}</h2>
        {% else %}
        <h2>{%cabecalho_1%}</h2>
        {% endif %}


        <h3 style="font-color:gren">Total: R$ {{ venda.valor }}</h3>

        {% if venda.status == 'DC' %}
             <div class="alert alert-primary" role="alert">
                {{ status }}
             </div>

         {% elif venda.status == 'AB'  %}
            <div class="alert alert-info" role="alert">
                {{ status }}
            </div>

        {% elif venda.status == 'FC' %}
            <div class="alert alert-success" role="alert">
                 {{ status }}
            </div>

        {% elif venda.status == 'PR'  %}
            <div class="alert alert-warning" role="alert" STYLE="backgroun-color:red">
                 {{ status }}
            </div>

        {% endif %}


        <form method="POST" action="{% url 'novo-pedido' %}">
            {% csrf_token %}

            <h2>Cabecalho pedido numero: {{ venda.id }}</h2>


            {{clientes}}
            <input type="hidden" value="{{venda.id}}" name="venda_id">

            <br>
            {% if venda %}

            <button type="submit" class="btn btn-primary">
               {% text_bt_cabecalho2 %} s
            </button>
                {% else %}

            <button type="submit" class="btn btn-primary">
                 {% text_bt_cabecalho1 %}
            </button>
                {% endif %}


        </form>


        <br>
    </div>
</div>


{% if venda %}
    {% if mensagem %}
    <h3>{{ mensagem }}</h3>
    {% endif %}


    {{ProdutoCategoriaForm}}

    <form action="{% url 'novo-item-pedido' venda.id %}" method="POST">
        {% csrf_token %}
        {{ form_item|bootstrap }}
        <button class="btn btn-info" >Incluir produto na venda</button>
    </form>
    <button class="btn btn-info" onclick="alerta2">Incluir produto na venda 6</button>
    <button class="btn btn-info" onclick="alerta2">Incluir produto na venda 6</button>
    <br>
 <button class="btn btn-info" onclick="myFunction()">Click me</button>
    <div id="list"></div>
    <h2>Listagem de itens</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descricao</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
            <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody id="id_itens">
        {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.produto.descricao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.desconto }}</td>
                <th scope="col">
                    <a href="{% url 'edit-item-pedido' item.id%}"><i class="fa fa-pencil"></i> </a>
                </th>
                <th scope="col">
                    <a href="{% url 'delete-item-pedido' item.id%}"><i class="fa fa-window-close"></i></a>
                </th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block staticfiles %}
<script type="text/javascript">
    $("#id_itens").change(function(){
        const url = $('#personForm').attr("data-funcoes-url");
        setorId = $(this).val();
        $.ajax({
            url : url,
            data: {
                'setor_id': setorId,
            },
            success: function(data){
                $("#funcao_id").html(data);
            }
        });
    });
</script>
    <script src="{% static 'js/jquery-ajax.js' %}"></script>
    <script src="{% static 'js/payment.js' %}"></script>
{% endblock %}