{% extends 'base.html' %}

{% load static %}

{% block title %} Permissão Negada {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
    <link rel="stylesheet" href="{% static 'error/error_403.css' %}">
{% endblock %}

{% block main %}
    <div class="wrapper">
        <div class="box">
            <img width="10%" src="{% static 'error/triste.png' %}">
            <p>Você não tem permissão para acessar essa página.</p>
        </div>
    </div>
{% endblock %}
