<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-form-pag.css' %}">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}

    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #5e16ce; color: white;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style=" color: white;">MINI ERP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                     aria-expanded="false" aria-label="Toggle navigation">
              <span style=" color: white;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" style="color: white;" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" style="color: white;" href="{% url 'dashboard' %}">Painel de vendas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'produto_list' %}">Produtos</a>
                </li>

                  <li class="nav-item">
                      <a class="nav-link" style="color: white;" href="{% url 'person_list' %}">Clientes</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" style="color: white;" href="{% url 'estoque_produtos' %}">Estoque</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" style="color: white;" href="{% url 'lista-vendas' %}">Vendas</a>
                </li>
                  <li class="nav-item">
                     <a class="nav-link" style="color: white;" href="{% url 'movimentacoes' %}">Minhas Movimentações</a>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Controle de contas
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                    <li><a class="dropdown-item" href="{% url 'contas_pagar_list' %}">Conta a pagar</a></li>
                    <li><a class="dropdown-item" href="{% url 'contas_receber_list' %}">Contas a receber</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav ml-md-auto">
                {% if user.is_authenticated %}
                <spam style="color:white">Olá {{ user.username|slice:":12" }}
                {% if user.is_superuser %}
                 <a href="{% url 'settings_app' %}" style="color: #fff;">Configurações</a>

                    {% endif %}
                <a href="{% url 'logout' %}" class="btn btn-info">Sair</a></spam>
                 <hr>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-info">Entrar</a>
                <hr>

                {% endif %}
            </ul>

            </div>
          </div>
        </nav>
    </header>
        {% block extranavbar %}
        {% endblock %}

    <main class="flex-shrink-0">
        <div class="container">
        {% block main %}
        {% endblock %}
        </div>
    </main>

        {% block extra %}
        {% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="footer mt-auto py-3" style="background-color: rgba(59, 8, 134, 0.95);">
      <div class="container" style="text-align: center;">
        <span  style="color: white;"> © 2022 Copyright:</span>

            <a class="text-white" href="#" style="text-decoration: none;">Felipe Brx Oliveira v3</a>
      </div>

    </footer>
    <!-- Footer -->
    {% endblock %}
    <script src="{% static 'js/jquery-ajax.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    {% block staticfiles %}

    {% endblock %}
    </body>
</html>