{% extends 'base.html' %}


{% block title %} Confirmacao {% endblock %}

{% block main %}

    <h1>Tem certeza que deseja deletar o produto '{{ produto.descricao }}' </h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar delete</button>
    </form>
<br>
<a class="btn btn-warning" href="{% url 'produto_list'  %}" role="button">Cancelar</a>



{% endblock %}


{% block footer %}
    {% include 'footer.html' with minha_var="Meu texto teste" %}
{% endblock %}
