
<div class="table-responsive">
    <table class="table table-hover">

        <thead id="head_column_table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Ultima Alteração</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody id="line_table">
        {% for categoria in object_list %}
        <tr>
          <td>{{ categoria.id }}</a></td>
          <td>{{ categoria.name }}</a></td>
          <td>{{ categoria.updated_at|date:'Y-m-d H:i' }}</a></td>
          <td>
              <button type="button" class="btn btn-danger openBtn"
                      onclick="modal_delete_category({{ categoria.id }},'{{ categoria.nome }}')"
                      data-bs-toggle="modal" data-bs-target="#modal_view">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>

              <button type="button" class="btn btn-warning openBtn" style="color: white;"
                      onclick="modal_update_category({{ categoria.id }},'{{ categoria.nome }}')"
                      data-bs-toggle="modal" data-bs-target="#modal_view">
                  <i class="fa-solid fa-pen-to-square"></i>
               </button>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
</div>

<nav aria-label="...">
    <ul class="pagination">
        <input type="hidden" id="id_page_itens" name="page_itens" value="{{page_obj.object_list|length}}">
        <input type="hidden" id="id_page_index" name="page_index" value="{{ page_obj.number }}">
      {% if page_obj.has_previous %}
    <li class="page-item">
        <button type="button" class="page-link" onclick="update_list_category({{page_obj.previous_page_number}})">
            Anterior
        </button>
    </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#">Anterior</a>
      </li>
       {% endif %}

    {% for num_page in  page_obj.paginator.page_range %}
      {% if page_obj.number == num_page %}
        <li class="page-item active">
          <span class="page-link">
            {{ num_page }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item">
            <button type="button" class="page-link"  onclick="update_list_category({{ num_page }})">
                {{ num_page }}
            </button>
        </li>
      {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
           <button type="button" class="page-link"
                   onclick="update_list_category({{ page_obj.next_page_number }})">
               Próximo
           </button>

        </li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link"  href="#">Próximo</a>
        </li>
    {% endif%}
  </ul>
</nav>
<br>

